# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they're usually used for local dev
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Dependency lock file
.terraform.lock.hcl

# Ignore any local environment files
.env

# MacOS system files
.DS_Store

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Terragrunt
.terragrunt-cache/

# Logs
*.log

# Exclude potential sensitive data or secrets
*.pem
*secrets* 